BODY{
    MARGIN:0px;
    padding: 0px;
    background-color: aliceblue;
    background-image: url(./Assets/bg2.webp);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;

}
*{
    font-family: cursive;
}
.animation{
    /* border: 1px solid red; */
    font-size: 40px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(91, 93, 95);
    color:white;
    width: 55%;
    /* border: 1px solid red; */
    margin:10px auto;
    border-radius:10px;
}
#a{
    animation:normal;
    animation-name: rotate;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
#b{
    animation:normal;
    animation-name: rotate;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
#c{
    animation:normal;
    animation-name: rotate;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
#d{
    animation:step-start;
    animation-name: rotate;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
@keyframes rotate {
    0%{
        /* margin-bottom:10px; */
    }
    40%{
        margin-left:20px;
    }
    80%{
        /* margin-top:50px; */
    }
    100%{
        margin-right:10px;
    }
   

    
}
.main{
    /* border: 1px solid red; */
    height:300px;
    width:400px;
    margin:100px auto;
    width:55%;
    background-color: rgba(91, 93, 95,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;


}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
.main button{
    width: 200px;
    height: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(161, 161, 161);
    border-radius: 10px;
    border:none;
    color:white;

}
button:hover{
    background-color: white;
    color: black;
}
@media screen and (max-width:600px) {
    .animation{
        width: 100%;
      
    }
    .main{
        width:100%;
    }
}